<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'UPLIFT - ' + ${user.name}"></title>
    <!-- You might want to include Bootstrap, Google Maps JS SDK and other required JS/CSS here -->
</head>
<body>

<header>
<!--    <img th:src="@{'data:image/png;base64,' + ${T(org.springframework.util.Base64Utils).encodeToString(user.avatar)}}"-->
<!--         alt="User Avatar">-->
    <span th:text="${user.name}"></span>
</header>

<section>
    <h2>Tasks</h2>
    <ul>
        <li th:each="task : ${tasks}" th:text="${task.title}"></li>
    </ul>
</section>

<section>
    <h2>Map</h2>
    <div id="googleMap" style="width:100%;height:400px;"></div>
</section>

<script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng(50.0765525,14.4383934),
            zoom:13,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
</script><script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=myMap'"></script>

</body>
</html>
